# приклад змінних оточення
YT_KEY=v99b-cdfm-u04j-sc7k-c4u6
YT_PRIMARY=rtmps://a.rtmp.youtube.com/live2
YT_BACKUP=rtmps://b.rtmp.youtube.com/live2
SERVER_URL=http://127.0.0.1:8050
STREAM_WIDTH=640
STREAM_HEIGHT=360
STREAM_FPS=10
STREAM_BITRATE=600k
STREAM_MAX_SECONDS=0    # 0 = без ліміту; або 14400 для 4 годин
